/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}

html {
  font-family: Arial, sans-serif;
  width: 100%;
}

body {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
  background: #121212;
  color: rgba(255, 255, 255, 0.8);
}

#processing-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1rem;
  gap: 5rem;
  margin-top: 0.5rem;
}

#error-message {
  color: #cf6679;
}

#header {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  gap: 4rem;
  margin-top: -0.5rem;
}

#search-form {
  grid-column: 2;
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

#search-form :nth-child(1) {
  font-weight: bold;
}

#search {
  padding: 0.25rem;
  background-color: #121212;
  color: rgba(255, 255, 255, 0.8);
  border: 1px solid #cccccc;
}

#submit-button {
  background-color: #bb86fc;
  font-weight: bold;
  border: 1px solid #2e2e2e;
}

#submit-button:hover {
  background-color: #bb86fc;
  font-weight: bold;
  opacity: 0.8;
}

#units-button-container {
  grid-column: 3;
  justify-self: start;
  display: flex;
  gap: 0.5rem;
}

#units-button-container button {
  background-color: #03dac5;
  font-weight: bold;
  border: 1px solid #2e2e2e;
  height: 2rem;
  width: 2rem;
}

#units-button-container button:hover {
  opacity: 0.8;
}

#units-button-container button:disabled {
  background-color: #03dac5;
  opacity: 0.8;
  outline: 2px solid grey;
}

#current-weather-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  gap: 0.5rem;
  width: 40rem;
  background: #1e1e1e;
  padding: 1rem;
}

#current-weather-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

#current-weather-header :nth-child(1) {
  font-weight: bold;
}

#current-weather-body {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

#current-weather-body-right {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#current-weather-body-right :nth-child(1) {
  font-size: 4rem;
}

#current-weather-body-right :nth-child(2) {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgba(255, 255, 255, 0.6);
}

#current-weather-body-right :nth-child(2) {
  margin-top: -1rem;
}

#current-weather-body-bottom {
  display: flex;
  justify-content: center;
}

#today-container {
  display: flex;
  flex-direction: column;
  width: min(90vw, 95rem);
  margin: auto;
  background: #1e1e1e;
  gap: 1rem;
  padding: 1rem;
}

#today-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

#today-header :nth-child(1) {
  font-size: 1.5rem;
  font-weight: bold;
}

#today-header :nth-child(2) {
  font-weight: bold;
  text-align: center;
}

#today-body {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 1rem;
  justify-items: center;
}

#today-body > div {
  display: flex;
  flex-direction: column;
  width: 20rem;
}

#today-body > div > div {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid grey;
  padding: 0.5rem;
}

#today-body > div > div:hover {
  background-color: #2e2e2e;
}

#today-body > div > div > div:nth-child(1) {
  font-weight: bold;
}

#hourly-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: min(95rem, 90vw);
  background: #1e1e1e;
  margin: auto;
  padding: 1rem;
}

#hourly-container-header {
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: bold;
}

#hourly-container-body {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(6.5rem, 1fr));
  gap: 1rem;
  justify-items: center;
}

.single-hourly-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 5.5rem;
  padding: 0.5rem;
  border: 0.25px solid grey;
  gap: 0.25rem;
  font-weight: bold;
}

.single-hourly-container:hover {
  background: #2e2e2e;
}

.single-hourly-container :nth-child(4) {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

#weekly-container {
  display: flex;
  flex-direction: column;
  width: min(75rem, 90vw);
  margin: auto;
  background: #1e1e1e;
  padding: 1rem;
  gap: 1rem;
}

#weekly-container-header {
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: bold;
}

#weekly-container-body {
  display: flex;
  flex-direction: column;
}

.day-container {
  display: grid;
  grid-template-columns: 8rem 4rem 1rem 4rem 8rem 1fr 2rem 4rem;
  border-top: 1px solid grey;
  align-items: center;
  padding: 0.5rem;
}

.day-container:hover {
  background: #2e2e2e;
}

.day-container :nth-child(1) {
  font-weight: bold;
}

.day-container :nth-child(2) {
  justify-self: center;
}

.day-container :nth-child(3) {
  justify-self: center;
}

.day-container :nth-child(4) {
  justify-self: center;
}

.day-container :nth-child(5) {
  justify-self: end;
  margin-right: 1rem;
}

.day-container :nth-child(8) {
  font-weight: bold;
}

@media screen and (max-width: 900px) {
  #header {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: -0.5rem;
  }

  #units-button-container {
    display: flex;
    justify-self: center;
    align-self: center;
    gap: 0.5rem;
  }

  #current-weather-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    width: 90vw;
    gap: 0.5rem;
    background: #1e1e1e;
    padding: 1rem;
  }

  #current-weather-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .day-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(4, 3rem);
    justify-items: center;
    align-items: center;
    border-top: 1px solid grey;
    padding: 0.5rem;
  }

  .day-container :nth-child(1) {
    grid-column: 1 / 6;
    grid-row: 1 / 2;
  }

  .day-container :nth-child(2) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }

  .day-container :nth-child(3) {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
  }

  .day-container :nth-child(4) {
    grid-column: 4 / 5;
    grid-row: 2 / 3;
  }

  .day-container :nth-child(5) {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    justify-self: end;
    margin-right: 0;
  }

  .day-container :nth-child(6) {
    text-align: center;
    grid-column: 1 / 6;
    grid-row: 4 / 5;
  }

  .day-container :nth-child(7) {
    grid-column: 3/ 4;
    grid-row: 3 / 4;
    justify-self: end;
  }

  .day-container :nth-child(8) {
    text-align: center;
    grid-column: 4 / 5;
    grid-row: 3 / 4;
    justify-self: start;
    padding-left: 0.25rem;
  }
}
